// Footer
// -----------------------------
footer {
  padding: 2em 0 2em 0;
  background: $primary-color;

  .primary {
    width: 45%;
    margin-bottom: 1em;

    @media (max-width: $medium) {
      width: 100%;
    }
  }

  .secondary {
    width: 35%;

    @media (max-width: $medium) {
      width: 100%;
    }
  }

  h3 {
    color: $secondary-color;
    margin-bottom: 1em;
  }

  p {
    margin: 0 0 2px 0;
    line-height: 1.2;
  }

  .skills {
    text-align: right;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    font-size: 0.8em;
    font-weight: 700;
    transition: all 0.1s;

    &:hover {
      color: $secondary-color;
      cursor: default;
    }
  }
}