@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?v7p8qc');
  src:  url('../fonts/icomoon.eot?v7p8qc#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?v7p8qc') format('truetype'),
  url('fonts/icomoon.woff?v7p8qc') format('woff'),
  url('../fonts/icomoon.svg?v7p8qc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\eac9";
}

