// Divides
// ---------------------------------
.divide10 {
  height : 10px;
}

.divide20 {
  height : 20px;
}

.divide30 {
  height : 50px;
}

.divide50 {
  height : 50px;
}

.divide100 {
  height : 100px;
}

// Text
.text-white {
  color : white;
}

.text-grey {
  color : #555;
}

.text-dark-grey {
  color : #333;
}

.text-center {
  text-align : center;
}

// Backgrounds
// -------------------
.grey-background {
  background-color : #ECEAEB;
}

// Hide
// ------------
.hidden-lg {
  @media (min-width : $large) {
    display : none;
  }
}

.hidden-sm {
  @media (max-width : $large) {
    display : none;
  }
}

